<main>
    <nav>
        <div class="nav-wrapper">
            <h2>Meine Umfragen</h2>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><button href="#">Umfrage 1</button></li>
                <li><button href="#">Umfrage 2</button></li>
                <li><button href="#">Umfrage 3</button></li>
            </ul>
        </div>
    </nav>
    <div id="main-container">
        <div class="chart-container">
            <div class="chart-title">Isch de schmoun en spasst?</div>
            <div echarts [options]="chartOption" class="chart" [autoResize]="true"></div>
        </div>
        <div class="chart-container">
            <div class="chart-title">Isch de schmoun en spasst?</div>
            <div echarts [options]="chartOption" class="chart" [autoResize]="true"></div>
        </div>
        <div class="chart-container">
            <div class="chart-title">Isch de schmoun en spasst?</div>
            <div echarts [options]="chartOption" class="chart" [autoResize]="true"></div>
        </div>
    </div>
</main>