<header class="header">
  <h1>WILLKOMMEN ZUR KOMISCHEN UMFRAGE</h1>
</header>

<main>
  <mat-card *ngFor="let frage of fragen" class="mat-card">
    <mat-card-title>{{ frage }}</mat-card-title>
    <mat-card-header>Drücken Sie irgendein Knopf</mat-card-header>
    <mat-card-content>
        <label for="ja">Ja</label>
        <input type="radio" value="ja" (click)="postVote('ja')">
        <label for="ja">Ja</label>
        <input type="radio" value="ja" (click)="postVote('ja')">
    </mat-card-content>
  </mat-card>
</main>
